<template id="group-template">
    <div class="col-xs-3 group-container">
        <div class="group">
            <div class="row">

                <div class="group-selector"
                     :style="{backgroundColor: group.color}"
                >
                    <div class="group-header">
                        {# modal trigger #}
                        <a data-toggle="modal" data-target="#${group.id}" v-if="group.userIsAdmin" @click.prevent="saveState"><span class="fa fa-cog fa-2x animated"></span></a>
                        <p v-else><span>&nbsp;</span></p>
                    </div>

                    <div class="group-body">
                        <h2>${ group.name }</h2>
                        <img :src="group.imageUrl" alt="image ${ group.name }" style="width: 150px; height: 150px">
                    </div>
                </div>

                {# update group modal #}
                {% include 'AppBundle:partials:_group_update_modal.html.twig' %}
            </div>
        </div>
    </div>
</template>