<template id="group-template">
    <div class="col-xs-3 group-container">
        <div class="group">
            <div class="row">

                <div class="group-selector" :style="{backgroundColor: group.color}">
                    <div class="group-header">

                        <a v-if="group.userIsAdmin" href="/group/${group.id}"><span class="fa fa-cog fa-2x animated"></span></a>
                        <p v-else><span>&nbsp;</span></p>
                    </div>

                    <div class="group-body" @click="orderLink">
                        <h2>${ group.name }</h2>
                        <img :src="group.imageUrl" alt="image ${ group.name }" style="width: 150px; height: 150px">
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>