<template id="group-template">
    <div class="group-container">
        <div class="group">
            <div class="group-header">
                <h2>${ group.name }</h2>
            </div>
            <div class="group-body">
            </div>
            <div class="group-footer">
            </div>
        </div>
    </div>
</template>