<template id="group-template">
    <div class="group-container" :style="{backgroundColor: group.color}">
        <div class="group">
            <div class="row">
                <div class="group-left col-xs-6">
                    <div class="group-header">
                        <h2>${ group.name }</h2>
                    </div>
                    <div class="group-body">
                        <img :src="group.imageUrl" alt="">
                    </div>
                </div>
                <aside class="col-xs-6 group-right" v-if="!group.userIsAdmin">
                    <input type="text" v-model="group.name">
                </aside>
            </div>
        </div>
    </div>
</template>