<template id="group-template">
    <div class="col-xs-3 group-container">
        <div class="group">
            <div class="row">

                <div class="group-selector"
                     :style="{backgroundColor: group.color}"
                >
                    <div class="group-header">
                        {# modal trigger #}
                        <a href="#" data-toggle="modal" data-target="#${group.id}" v-if="group.userIsAdmin" @click.prevent="saveState"><small>Admin</small></a>
                        <span v-else><small>&nbsp;</small></span>
                    </div>

                    <div class="group-body">
                        <h2>${ group.name }</h2>
                        <img :src="group.imageUrl" alt="">
                    </div>
                </div>

                {# update group modal #}
                {% include 'AppBundle:partials:_group_update_modal.html.twig' %}
            </div>
        </div>
    </div>
</template>