<template id="pizza-template">
    <div class="pizza">
        <div class="pizza-header">
            <p class="text-success"><i class="fa fa-plus-circle"></i></p>
            <img :src="pizza.imageUrl" alt="${pizza.name}">
        </div>
        <div class="pizza-body">
            <h2>${pizza.name}</h2>
            <p>${pizza.ingredients}</p>
        </div>
        <div class="pizza-footer">
            <ul class="list-unstyled list-inline">
                <li><a href="#"><span class="fa fa-camera"></span></a></li>
                <li>${pizza.price|euro}</li>
                <li><a href="#" @click.prevent="toggleIsFavorite"><i class="fa" :class="{'fa-heart':pizza.isFavorite, 'fa-heart-o':!pizza.isFavorite}"></i></a></li>
            </ul>
        </div>
    </div>
</template>