<template id="row-template">
    <div class="row-container">
        <div class="row">

            <tr>
                <td><span class="glyphicon glyphicon-remove pizza-remove"></span></td>
                <td class="user-name">${username}</td>
                <td class="pizza-name">${name}</td>
                <td class="pizza-price">${price|euro}</td>
            </tr>

        </div>
    </div>
</template>