<h1>Vous avez été invité à rejoindre un groupe sur Mardizza.com !!!</h1>
<p>Il vous suffit de cliquer sur ce lien</p>
<p>Si vous ne désirez pas rejoindre le groupe, vous n'avez rien a faire, cette invitation expirera dans 24h</p>