<h3>{{ sender.username }} vous invite à rejoindre {{ group.name }} sur Mardizza.com.</h3>
<p>Pour rejoindre son groupe, il vous suffit de vous connecter à <a href="https://www.mardizza.com/login">Mardizza.com</a>, ou de créer un compte et d'accepter l'invitation sur la page 'Mon compte'</p>
<p>Si cet email ne vous est pas destiné ou si vous ne désirez pas répondre à l'invitation, vous n'avez rien à faire, elle expirera dans 24 h.</p>