{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div id="groups">
        <div class="container">
            {# action navbar #}
            {% include 'AppBundle:partials:_navbar_groups.html.twig' %}

            <ul class="list-unstyled list-inline">
                <div class="row">
                    <group v-for="group in groups" :group="group"></group>
                </div>
            </ul>
        </div>
    </div>

    {# includes templates #}
    {% include 'AppBundle:templates:group.html.twig' %}
{% endblock %}
