{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div id="groups">
        <input type="hidden" name="csrf" :value="`{{ csrf_token('group_token') }}`" v-model="csrf">
        <div class="container">
            {# action navbar #}
            {% include 'AppBundle:partials:_navbar_groups.html.twig' %}

            <ul class="list-unstyled list-inline">
                <div class="row">
                    <group v-for="group in groups" :group="group"></group>
                </div>
            </ul>

            <div v-if="groups.length <= 0">
                <p class="h3">Vous n'avez pas de groupe, voulez-vous <a href="#" @click.prevent="createGroup()">en créer un</a> ?</p>
            </div>
        </div>
    </div>

    {# includes templates #}
    {% include 'AppBundle:templates:group.html.twig' %}
{% endblock %}
