{% extends 'AppBundle::layout.html.twig' %}

{% block content %}

    <div id="groups">

        <div class="container">
            {# action navbar #}
            {% include 'AppBundle:partials:_navbar_groups.html.twig' %}

            <h1>Choisissez votre groupe</h1>
            <ul class="list-unstyled list-inline">
                <div class="row">
                    {% for i in 1..4 %}
                        <group v-for="group in groups" :group="group"></group>
                    {% endfor %}
                </div>
            </ul>
            <a href="">Créez un nouveau groupe</a>
        </div>
    </div>

    {# includes templates #}
    {% include 'AppBundle:templates:group.html.twig' %}
{% endblock %}
