<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('home') }}">Mardizza !!!</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
                {% if user is defined and user is not null %}
                    {% include 'AppBundle:partials:_account.html.twig' %}
                {% elseif app.request.attributes.get('_route') == 'login' %}
                    {# hide short login form #}
                {% else %}
                    {% include 'AppBundle:partials:_short-login.html.twig' %}
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

{# Message block #}
<div class="messages">
    {% for msg in app.session.flashBag.get('success') %}
        <div class="alert alert-success">{{ msg }}</div>
    {% endfor %}
    {% for msg in app.session.flashBag.get('error') %}
        <div class="alert alert-danger">{{ msg }}</div>
    {% endfor %}
    {% if error is defined and error is not null %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
</div>
