<div>
    <p id="check-auth-symfony">Symfony : {% if user is defined %}{% if user is not null %}{{ user.username }} - {{ user.email }}{% else %}null{% endif %}{% else %}null{% endif %}</p>
    <p id="check-auth-firebase"><p>
</div>
<a href="{{ path('logout') }}" id="logout" title="logout" class="btn btn-danger pull-right">Logout</a>
