{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="container">
        <div id="slogan">
            <h1>Sandbox !!!</h1>
            <h2>La <b>première</b> application de choix de la <b>Pizza</b> du Mardi !!!</h2>
            <a href="{{ path('login') }}" class="btn btn-primary btn-lg">Je veux créer mon compte !</a>
        </div>
    </div>
{% endblock %}
