{% extends 'AppBundle::layout.html.twig' %}

{% block content %}

    <div class="container text-center" style="margin:5em;">
            <a href="{{ path('order') }}" title="Nouvelle commande" class="btn btn-primary btn-lg">Nouvelle commande</a>
            <a href="{{ path('login') }}" title="Page de login" class="btn btn-primary btn-lg">Login</a>
        </div>
    </div>

{% endblock %}
