<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Mardizza</title>
</head>
<body>
{% block header %}{% endblock %}
{% block content %}{% endblock %}
{% block footer %}{% endblock %}

{% block scripts %}
    <script type="application/javascript" src="{{ asset('assets/js/lib/vue.js') }}"></script>
{% endblock %}
</body>
</html>