<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block page-title %}Mardizza{% endblock %}</title>
</head>
<body>
{% block header %}{% endblock %}
{% block content %}{% endblock %}
{% block footer %}{% endblock %}
</body>
</html>