{% extends '@App/layout.html.twig' %}

{% block content %}

    <div class="container" id="login-create-forms" style="margin-top:5em;">
        <div class="row">

            <div class="login-form col-xs-12 col-md-5">
                <h1>Vous avez déjà un compte&nbsp;?</h1>
                <form action="{{ path('login') }}" method="POST" id="login-form">

                    <input type="hidden" name="csrf_token" value="{{ csrf_token('login_form') }}">

                    <div class="form-group">
                        <input type="email" id="login-email" name="_email" class="form-control" placeholder="Email"
                               required/>
                    </div>

                    <div class="form-group">
                        <input type="password" id="login-password" name="_password" class="form-control"
                               placeholder="Mot de passe" required/>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Se connecter</button>
                    </div>

                </form>
            </div>

            <div class="create-form col-xs-12 col-md-5 col-md-offset-2">
                <h1>Créer un compte</h1>
                <form action="{{ path('account_create') }}" method="POST" id="signup-form">

                    <div class="form-group">
                        <input type="text" id="create-username" name="_username" class="form-control"
                               placeholder="Prénom" required/>
                    </div>

                    <div class="form-group">
                        <input type="email" id="create-email" name="_email" class="form-control" placeholder="Email"
                               required/>
                    </div>

                    <div class="form-group">
                        <input type="password" id="create-password" name="_password" class="form-control"
                               placeholder="Mot de passe" required/>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Créer mon compte</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

{% endblock %}

