{% extends 'AppBundle::layout.html.twig' %}

{% block header %}
    {{ parent() }}

    <nav class="navbar navbar-lower navbar-fixed-top">
        <button id="filter-favorites" class="btn btn-default" role="checkbox"><span class="button-text">Filtrer par </span><span class="glyphicon glyphicon-heart"></span></button>
    </nav>
{% endblock %}

{% block content %}
    <div id="app">

        {# pizzas #}
        {% include 'AppBundle:partials:_pizza-card.html.twig' %}

        {# basket #}
        {% include 'AppBundle:partials:_basket.html.twig' %}

    </div>



{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script>
        $(document).ready(function () {
            Vue.config.delimiters = ['$<', '>'];

            Vue.component('pizzas', {
                props: ['pizzas'], // just binding...
                template: '#pizza-card'
            });

            new Vue({
                el: '#app'
            });
        });
    </script>
{% endblock %}