{% extends 'AppBundle::layout.html.twig' %}

{% block header %}
    {{ parent() }}

    <nav class="navbar navbar-lower navbar-fixed-top" role="navigation">
        <button class="btn btn-default">Filtrer par <span class="glyphicon glyphicon-heart"></span></button>
    </nav>
{% endblock %}

{% block content %}
    <div id="app">

        <div id="pizza-cards">
            <ul class="list-inline list-unstyled">
                {% for pizza in pizzas |slice(1,6) %}
                    {% include 'AppBundle:partials:_pizza-card.html.twig' %}
                {% endfor %}
            </ul>
        </div>

        {% include 'AppBundle:partials:_basket.html.twig' %}

    </div>
{% endblock %}