{% extends 'AppBundle::layout.html.twig' %}

{% block header %}
    {{ parent() }}

    <nav class="navbar navbar-lower navbar-fixed-top">
        <button id="filter-favorites" class="btn btn-default" role="checkbox">Filtrer par <span class="glyphicon glyphicon-heart"></span></button>
    </nav>
{% endblock %}

{% block content %}
    <div id="app">

        <div id="pizza-cards">
            <ul class="list-inline list-unstyled">
                {% for pizza in pizzas %}
                    {% include 'AppBundle:partials:_pizza-card.html.twig' %}
                {% endfor %}
            </ul>
        </div>

        {% include 'AppBundle:partials:_basket.html.twig' %}

    </div>

    {#<script>#}
        {#var vue = new Vue({#}
            {#el: "#app",#}

        {#});#}
    {#</script>#}
{% endblock %}