{% extends 'AppBundle::layout.html.twig' %}

{% block content %}

    <div id="app">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-9 col-lg-8">
                    <nav class="navbar menu navbar-fixed-top">
                        <button id="filter-favorites" class="btn btn-default" role="checkbox">Filtrer par <span class="fa fa-heart pull-right"></span>
                        </button>
                    </nav>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div id="pizzas" class="col-md-9 col-lg-8">
                    <div class="row">
                        <pizza v-for="pizza in pizzas" :pizza="pizza" class="col-sm-5 col-md-4 col-lg-3"></pizza>
                    </div>
                </div>
                <div class="col-md-3 col-lg-4 pull-right">
                    <basket></basket>
                </div>
            </div>
        </div>

        {# includes templates #}
        {% include 'AppBundle:templates:pizza.html.twig' %}
        {% include 'AppBundle:templates:basket.html.twig' %}
    </div>
{% endblock %}
