{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div id="app">

        <nav class="navbar navbar-lower navbar-fixed-top">
            <button id="filter-favorites" class="btn btn-default" role="checkbox"><span class="button-text">Filtrer par </span><span class="glyphicon glyphicon-heart"></span></button>
        </nav>

        <pizzas :pizzas="{{ pizzas }}"></pizzas>

        {# pizzas #}
        {% include 'AppBundle:partials:_pizzas_template.html.twig' %}

        {# basket #}
        {% include 'AppBundle:partials:_basket.html.twig' %}

    </div>
{% endblock %}