{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div id="app">

        <div id="pizza-cards">
            <ul class="list-inline list-unstyled">
                {% for pizza in pizzas %}
                    {% include 'AppBundle:partials:_pizza-card.html.twig' %}
                {% endfor %}
            </ul>
        </div>

        {% include 'AppBundle:partials:_basket.html.twig' %}

    </div>
{% endblock %}