@import 'variables';

#basket {
  position: fixed;
  overflow: hidden;
  border-radius: 0;

  // Desktop and tablet
  @media #{$break-tablet-min}{
    top: $complete-navbar-height + 2em;
    width: 30%;
    margin-left: 2em;
  }

  // tablet
  @media #{$tablet}{
    top: $complete-navbar-height + 1em;
    right: 2em;
    text-align: left;
  }
}

#basket-header {
  text-align: center;
  font-family: 'Euphoria Script', cursive;
  background-color: $main;
  border-radius: 5px 5px 0 0;

  .glyphicon-menu-hamburger {
    margin-right: 1em;
  }

  h1 {
    font-size: 3em;
    color: white;
    padding: 0.2em;
    margin: 0;

    a {
      color: $light-grey;
    }
  }
}

#basket-body {
  overflow: auto;
  border-radius: 0;
  max-height: 40em;
  background-color: white;
  padding: 0.5em;

  @media #{$tablet}{
    max-height: 25em;
  }

  table {
    margin: 0;
    background-color: white;

    tr {
      td {
        vertical-align: baseline;

        .glyphicon-remove {
          padding-left: 1em;
          color: $main;

          &:hover {
            cursor: pointer;
          }
        }

        &.pizza-price {
          text-align: right;
          padding: 0;
          padding-right: 1.5em;
        }
      }
    }
  }
}

#basket-footer {
  #basket-total {
    border-top: 2px solid $light-grey;
    background-color: lighten($light-grey, 4%);
    font-size: 1.2em;
    font-weight: bold;
    text-align: end;

    margin: 0;
    padding: 0.5em;

    @media #{$phone}{
      padding-right: 2em;
    }
  }

  #phone-number {
    background-color: $main;
    border-radius: 0 0 5px 5px;
    font-size: 1.2em;
    text-align: center;
    color: white;

    margin: 0;
    padding: 0.4em;

    @media #{$phone}{
      border-radius: 0;
    }
  }

  #basket-message {
    background-color: $light-grey;
    padding: 1em;
  }
}
