@import 'variables';

body {
  background-color: $dark-grey;

  &.home-body {
    background-color: $main;

    @media #{$tablet-desktop} {
      background-image: url("../../assets/images/bg.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.col-container{
  padding: 0.3em
}

.messages {
  position: fixed;
  top: $complete-navbar-height;
  left: 2em;
  z-index: 9999;
  min-width: 25em;

  .alert {
    position: fixed;
    opacity: 0.90;

    transform: translate(-25em, 0); // out of sight
    transition: transform 0.3s ease-in-out;

    &.animated {
      transform: translate(4em, 0);
    }
  }
}

#app {
  background-color: $dark-grey;
  padding-top: $complete-navbar-height;
  //padding-bottom: 6em;

  @media #{$phone-tablet}{
    padding-top: 8em;
  }
}
