@import 'variables';

body {
  background-color: $main;

  .home {
    height: 50em;

    @media #{$tablet-desktop} {
      background-image: url("../../assets/images/bg.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

#slogan {
  color: white;
  margin-top: 8em;
  text-align: center;

  @media #{$phone}{
    margin-top: 6em;
  }

  a {
    margin-bottom: 2em;

    @media #{$phone}{
      font-size: 1.6em;
    }
  }

  h1 {
    font-family: 'Euphoria Script', cursive;
    font-size: 5em;

    @media #{$phone}{
      display: none;
    }
  }

  h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 4em;
    margin: 0.5em 0 1.5em 0;

    @media #{$phone}{
      font-size: 2em;
      margin-bottom: 1em;
    }
  }
}

.pizza-container {
  padding: 0.3em
}

.messages {
  position: fixed;
  top: $complete-navbar-height;
  left: 2em;
  z-index: 9999;
  min-width: 25em;

  .alert {
    position: fixed;
    opacity: 0.90;

    transform: translate(-25em, 0); // out of sight
    transition: transform 0.3s ease-in-out;

    &.animated {
      transform: translate(4em, 0);
    }
  }
}

#app {
  background-color: $dark-grey;
  background-image: url("../../assets/images/textures/bg_pattern.jpg");
  //background-repeat: repeat-y;
  padding-top: $complete-navbar-height;

  @media #{$phone-tablet}{
    padding-top: 8em;
  }
}
