@import 'variables';

body {
  background-color: $main;

  .home {
    min-height: 80em;

    @media #{$tablet-desktop} {
      background-image: url("../../assets/images/bg.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.pizza-container {
  padding: 0.3em
}

.messages {
  position: fixed;
  top: $complete-navbar-height;
  left: 2em;
  z-index: 9999;
  min-width: 25em;

  .alert {
    position: fixed;
    opacity: 0.90;

    transform: translate(-25em, 0); // out of sight
    transition: transform 0.3s ease-in-out;

    &.animated {
      transform: translate(4em, 0);
    }
  }
}

#app {
  background-color: $dark-grey;
  background-image: url("../../assets/images/textures/bg_pattern.jpg");
  padding-top: $complete-navbar-height;
  min-height: 80em;

  @media #{$phone-tablet}{
    padding-top: 8em;
  }

  // heart icon
  .fa-heart-o{
    color: lighten(black, 20%);

    &:hover{
      color: crimson;
    }
  }
  .fa-heart{
    color: crimson;
  }

  #favorite-filter-button{
    &.active{
      color: white;
      background-color: $main-dark;

      .fa-heart{
        color: white;
      }
    }
  }
}