@import 'variables';

#groups {
  background-color: $light-grey;
  padding-top: $complete-navbar-height;

  .group-container {
    border: 2px solid $main;
    margin: 15px;

    .group-selector {
      padding: 15px;
      text-align: center;
      color: white;

      .group-body{
        &:hover {
          cursor: pointer;
          opacity: 0.85;
        }
      }

      .group-header {
        text-align: left;

        a {
          color: white;
          .fa{
            margin-top: 0;
          }
          &:hover {
            cursor: pointer;
          }
        }
      }

      h2 {
        margin-top: 0;
        font-family: 'Euphoria Script', cursive;
        font-size: 3em;
      }
    }
  }

  // fix Firefox icons bug
  button, label{
    white-space: inherit ! important;
    span.fa {
      margin-top: 0.22em;
    }
  }

.btn-block{
  margin: 1.2em 0;
}

.config{
  .form-group{
    p{
      font-weight: bold;
    }
  }
}

.members {
  padding-right: 30px;

  .table-header {
    margin-bottom: 0.7em;
    border-bottom: 1px solid $dark-grey;
  }

  .member {
    .form-group{
      margin: 0;
      label{
        font-weight: 200;
        line-height: 0.8em;
      }
    }

    label {
      padding: 0;
    }

    input {
      margin: 0 1.5em;
      text-align: right;
    }
  }
}

.modal-content {
  .validation-error {
    color: red;
    font-size: 1.4em;
    padding: 1em;
  }

  .errors p {
    color: red;
    font-size: 1.2em;
  }
}
}