@import 'variables';

#groups {
  background-color: $light-grey;
  padding-top: $complete-navbar-height;

  .group-container {
    border: 2px solid $main;
    margin: 15px;

    .group-selector {
      padding: 15px;
      text-align: center;
      color: white;

      .group-header {
        text-align: left;

        a {
          color: white;
          text-decoration: underline;
        }
      }

      h2 {
        margin-top: 0;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}