@import 'variables';

#groups{
  background-color: $light-grey;
  padding-top: $complete-navbar-height;

  .group-container{
    padding: 15px;

    .group-left{
      text-align: center;
      border-right: 1px solid $main;

      &:hover{
        cursor: pointer;
      }
    }
  }
}