@import 'variables';

.navbar-default {
  height: $main-navbar-height;
  margin: 0;
  border: none;
  background-color: $main;

  .navbar-brand {
    font-size: 3em;
    font-family: 'Euphoria Script', cursive;
    color: white;
    margin: 0;

    &:hover {
      color: $main-dark;
    }
    &:active {
      color: $main-inverse;
    }
  }

  #navbar {
    .navbar-nav {
      padding: 0.55em;
      .dropdown-toggle {
        color: white;
      }
    }
  }
}

// prevent account menu to change background color on leave
.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: $main-light;
}

.navbar-lower {
  margin-top: $main-navbar-height;
  padding: 1em;
  z-index: 1;
  height: $secondary-navbar-height;
  background-color: transparent;
  padding-left: $left-offset;

  #filter-favorites {

    button {
      background-color: white;
      .button-text {
        @media #{$phone}{
          display: none;
        }
      }
    }

    @media #{$phone}{
      padding-bottom: 0;
    }

    &.btn-default {
      &.active {
        color: white;
        background-color: lighten($main, 20%);
        border: 2px solid white;

        &:link {
          border: 0;
        }

        .glyphicon-heart {
          color: white;
        }
      }
    }

    .glyphicon-heart {
      color: crimson;

      @media #{$phone}{
        font-size: 2em;
        padding: 0;
        margin: 0;
      }
    }
  }
}