@import 'variables';

.navbar-default {
  height: $main-navbar-height;
  margin: 0;
  border: none;
  background-color: $main;

  .navbar-brand {
    font-size: 3em;
    font-family: 'Euphoria Script', cursive;
    color: white;
    margin: 0;

    &:hover {
      color: $main-dark;
    }
    &:active {
      color: $main-inverse;
    }
  }

  #navbar {
    .navbar-nav {
      padding: 0.55em;
      .dropdown-toggle {
        color: white;
      }
    }
  }
}

// prevent account menu to change background color on leave
.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: darken(red, 10%);
}

.menu {
  margin-top: $main-navbar-height +1em;
  margin-left: 1em;
  z-index: 1;

  button {

    .fa-heart {
      color: crimson;
      line-height: 1.5em;
    }

    &.btn-default {
      &.active {
        .fa-heart {
          color: white;
        }
      }
    }
  }
}