$light-grey: #eeeeee;

.navbar-default {

    .navbar-brand {
        font-size: 3em;
        font-family: 'Euphoria Script', cursive;
        color: grey;

        &:hover {
            color: black;
        }
    }

    .nav-right-content {
        margin-top: 0.5em;
    }

    border-bottom: 1px solid darken($light-grey, 20%);
}

#app {
    background-color: darken($light-grey, 4%);

    @media screen and (min-width: 48em) {
        #pizza-cards {
            margin-top: 2.5em;
            width: 70%;
            margin-left: 4em;

            .pizza-card {
                padding: 0;
                background-color: lighten($light-grey, 6%);
                margin: 0.5em;
                width: 15em;

                &:hover {
                    cursor: pointer;
                    box-shadow: 2px 2px 15px 5px darken($light-grey, 20%); // box-shadow: h-pos v-pos (blur) (spread) (color) (inset);
                    transform: translate(-1px, -1px);

                    .pizza-card-footer {
                        p {
                            border-radius: inherit;
                        }
                    }
                }

                .pizza-card-content {
                    border-top: 1px solid darken($light-grey, 20%);
                    border-right: 1px solid darken($light-grey, 20%);
                    border-left: 1px solid darken($light-grey, 20%);

                    .pizza-card-header {
                        position: relative;

                        .pizza-card-img {
                            width: 100%;
                        }

                        .add-pizza {
                            position: absolute;
                            right: 10px;
                            top: 10px;
                            border-radius: 100px;
                            line-height: 0.85;
                            padding: 2px 3px 3px 4px;
                            font-size: large;
                        }
                    }

                    .pizza-card-body {
                        padding: 0.5em;

                        .pizza-card-ingredients {
                            margin: 0;
                            height: 4em;
                        }
                    }
                }

                .pizza-card-footer {
                    background-color: $light-grey;
                    text-align: center;
                    font-size: 1.2em;

                    p {
                        margin: 0;
                        border: 1px solid darken($light-grey, 20%);
                        border-radius: 0 0 5px 5px;
                        padding: 0.15em;
                    }
                }
            }
        }

        div#order-basket {
            margin-top: 6em;
            position: fixed;
            right: 3em;
            top: 2em;
            z-index: 99;
            width: 29%;

            #order-header {
                padding: 1em;
                background-color: #19233B;
                color: white;

                h1, h2 {
                    text-align: center;
                    margin: 0;
                }

                h1 {
                    font-weight: bold;
                    font-size: 2.4em;
                }

                h2 {
                    font-size: 1.8em;
                }
            }

            ul#pizza-list {
                li {
                    text-transform: capitalize;

                    .glyphicon-remove {
                        color: #bc312b;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}
