.navbar-default {

    .navbar-brand {
        font-size: 3em;
        font-family: 'Euphoria Script', cursive;
        color: grey;

        &:hover {
            color: black;
        }
    }

    form {
        margin-top: 0.5em;
    }
}
