<div id="order-basket">
    <div id="order-basket-header">
        <h1>Commande</h1>
        <p id="order-reference" class="hidden">{{ order.createdAt|date('d-m-y') }}</p>
    </div>

    <table id="pizza-list" class="table table-striped"></table>
    <div><p class="hidden" id="basket-total">TOTAL&nbsp;:&nbsp;<span id="price-total"></span></p></div>
</div>
