{# modal confirmation #}
<div id="confirmation_leave" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">

        <div class="modal-content">

            <div class="modal-body">
                <div class="confirm-message row">
                    <div class="col-xs-1">
                        <span class="fa fa-exclamation-circle fa-2x text-danger"></span>
                    </div>

                    <div class="col-xs-11">
                        <p class="h4" id="confirm-text">Attention, vous vous apprêter à quitter le groupe.<br>Cette action est irréversible.</p>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default">Annuler</button>
                <button type="button" @click="quitGroup()" class="btn btn-danger">Confirmer</button>
            </div>

        </div>
    </div>
</div>