<nav class="navbar menu navbar-fixed-top">
    <form class="form-inline">
        <div class="form-group">
            <button id="create-group-button" class="btn btn-success form-control">Créer un nouveau groupe&nbsp;<span class="fa fa-plus pull-right"></span></button>
        </div>
    </form>
</nav>