<div id="pizza-cards">
    <ul class="list-inline list-unstyled">
        <pizzas :pizzas="{{ pizzas }}"></pizzas>
    </ul>
</div>

<template id="pizza-cards-container">
    <pizza v-for="pizza in pizzas" :pizza="pizza"></pizza>
</template>

{% include 'AppBundle:partials:_pizzas_template.html.twig' %}